.profile-container {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .avatar-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 100px; /* Adjust the size of the avatar image */
    height: 100px;
    border-radius: 50%;
  }
  
  .page-title {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .pharmacy-name {
    font-size: 28px; /* Adjust the font size of the pharmacy name */
    margin-bottom: 10px;
  }
  
  .profile-info {
    margin-bottom: 10px;
  }
  
  .profile-info label {
    font-weight: bold;
  }
  
  .profile-info span {
    margin-left: 10px;
  }
  